@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1683862901666') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\e631";
}

.icon-user:before {
  content: "\e677";
}

.icon-danju:before {
  content: "\e89b";
}

.icon-tijikongjian:before {
  content: "\e89f";
}

.icon-shangpin:before {
  content: "\e64f";
}

.icon-password:before {
  content: "\e608";
}

.icon-lock:before {
  content: "\e55b";
}

.icon-yanjing:before {
  content: "\e8c7";
}

.icon-baobiao:before {
  content: "\e604";
}

.icon-morentouxiang:before {
  content: "\ee17";
}

